#################################
# Application
#################################

PORT=5100

#################################
# URLs
#################################

DIAPAY_API_PUBLIC_URL=http://localhost:5100
DIAPAY_CHECKOUT_URL=http://localhost:5103
